<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EditorOfficeBlazorServer3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="ToggleSubMenu">
                <span class="oi oi-plus" aria-hidden="true"></span> Crear Documento
            </a>
            <ul class="@SubMenuCssClass">
                <li>
                    <NavLink class="nav-link" href="editor">Documento en blanco</NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="de-una-plantilla">De una plantilla</NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool collapseSubMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? SubMenuCssClass => collapseSubMenu ? "collapse-submenu" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubMenu()
    {
        collapseSubMenu = !collapseSubMenu;
    }
}